.overview{
    color: var(--clr-black);
    font-size: 2em;
    margin-left: 1rem;
    font-weight: bold;
}

.overviewtext{
    font-size: 14px;
    margin-left: 0.9rem;
    margin-bottom: 1rem;
}
.Outercontainertwo{
 background-color:none;
     padding: 1.5rem;
     margin-top: 1.5rem;
     display: flex;
     gap: 1.5rem;
}

 .detailstitle{
    
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
  }
   .detailstitleR{
    
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
  }

 .OutercontainerRight{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: none;
    padding:1rem;
    
    /* background-color: pink; */

 }

  .OutercontainerRight label{
     display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
  }

.tableContainer {
  margin-top: 2rem;
  width: 50%;
  overflow-x: auto;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--clr-white);
  border-radius: 0.8rem;
}

.orderTable th, .orderTable td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.orderTable th {
  background-color: var(--main-theme);
  color: white;
  font-weight: 500;
}

.orderTable tr:hover {
  background-color:var(--input-background);
}
.statusPill {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9em;
  display: inline-block;
}
.completed {
  background-color: #C3F9D5;
  color: #065f46;
}

.rejected {
  background-color: #FFC9C9;
  color: #991b1b;
}

.inProgress {
  background-color: #88AEF1;
  color: #1e3a8a;
}

.failed {
  background-color: #FF9ABA;
  color: #9d174d;
}

.assigned {
  background-color: #FFEC8B;
  color: #78350f;
}
.returned{
  background-color: #AFAFAF;
  color:#414040;
}
.actionButton {
  background-color: #888787;
  color: #2e2d2d;
  border: 1px solid#605c5c;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.2s;
}

.actionButton:hover {
  background-color: #054231;
}



/* Style the select element */
.statusControl select {
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
  padding: 1.3rem;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23065f46'%3e%3cpath d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 3rem;
    border-radius: 1rem;
    border: 1px solid #ccc;
}

.statusControl select option {
  padding: 1rem;
  background-color: white;
  color: #333;
}

.statusControl delv-status-selector option:hover {
  /* background-color: var(--main-theme) !important; */
  background-color: red !important;
  color: white !important;
}



.statusControl select option:active, 
.statusControl select option:checked {
  background-color: #054231;
}

.statusControl select option:checked {
  background-color: var(--main-theme);
  color: white;
}

.remarks{
    display: flex;
    flex-direction: column;
    gap:8px;
   
}
.remarks label{
    font-weight: 600;
    font-size: 1.4rem;
}


.filed1{
  display: flex;
  gap:2rem;
  background-color: white;
  padding:1.5rem ;
  position: relative;
  border-radius: 8px;

}


.filed1_in1{

  display: flex;
  flex-direction: column;
}

.filed1_in1 textarea{
  max-width: 60.2rem;
  max-height: 31rem;
  height: 28rem;

  resize: none;
  border: 1px solid #979595;
  border-radius: 0.8rem;
  
}

.filed1_in1 textarea:focus{
  border: 1px solid var(--main-theme);
  outline: none;

}

.filed1_in2_con1{
  display: flex;
  flex-direction: column;
  gap:7px;
}

.filed1_in2_con1 label{
  font-size: 1.3rem;
  font-weight: 500;
}



.showTabe_st {
  transition: all 400ms ease-in-out; 
  width: 100%;
  position: absolute;
  right: 0;
  opacity: 1;
  visibility: visible; 
}

.dontShowTb_st {
  transition: all 400ms ease-in-out; 
  position: absolute;
  right: -100%; 
  width: 100%; 
  opacity: 0;
  visibility: hidden; 
  pointer-events: none;
}



.result_con{
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  gap:2rem;
  padding:2rem;
  border-radius: 8px;
  margin-top: 5rem;
}

.result_con_field1{
  display: flex;
  flex-direction: column;
  gap:8px;
  width: 98%;

}

.result_field_label{
  font-size: 1.6rem;
  font-weight: 500;

}

.result_field_value{
  border:1px solid #EAEBEE;
  padding-left: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  
  font-size: 1.6rem;
  font-weight: 300;
border-radius: 8px;
}

/* statcards */
.card {
  background-color: red;
  display: flex; 
  align-items: center;
  padding:0.5rem 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1);
  transition: transform 0.2s;
  position: relative;
}

.card:hover {
  transform: translateY(-2px);
}

.carditem{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.carditem__1{
  padding: 1rem;
  width: 35rem;
  background-color: white;
  border-radius: 0.6rem;
  border: 1.5px solid white;
  display: flex;
  gap: 1rem;
}
.carditem__1:hover {
  border-color:#17654F;
  cursor: pointer;
   box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
}
.carditem__2{
  padding: 1rem;
  width: 35rem;
  background-color: white;
  border-radius: 0.6rem;
  border: 1.5px solid white;
  display: flex;
  gap: 1rem;
}
.carditem__2:hover {
  border-color:#AD7611;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
}
.carditem__3{
  padding: 1rem;
  width: 35rem;
  background-color: white;
  border-radius: 0.6rem;
 border: 1.5px solid white;
  display: flex;
  gap: 1rem;
}
.carditem__3:hover {
  border-color:#115FAD;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
}
.carditem__4{
  padding: 1rem;
  width: 35rem;
  background-color: white;
  border-radius: 0.6rem;
 border: 1.5px solid white;
  display: flex;
  gap: 1rem;
}
.carditem__4:hover {
  border-color:#E11515;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
}
.carditem__5{
  padding: 1rem;
  width: 35rem;
  background-color: white;
  border-radius: 0.6rem;
  border: 1.5px solid white;
  display: flex;
  gap: 1rem;
}
.carditem__5:hover {
  border-color:#43A047;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(20, 20, 20, 0.1);
}
.iconwrap_1{
width: 4.5rem;
height: 4.5rem;
border-radius: 50%;
background-color: #b2f1cd;
display: inline-flex;
justify-content: center;
align-items: center;
}
.iconwrap_2{
width: 4.5rem;
height: 4.5rem;
border-radius: 50%;
background-color: #fbeab1;
display: inline-flex;
justify-content: center;
align-items: center;
}
.iconwrap_3{
width: 4.5rem;
height: 4.5rem;
border-radius: 50%;
background-color: #b0cfef;
display: inline-flex;
justify-content: center;
align-items: center;
}
.iconwrap_4{
width: 4.5rem;
height: 4.5rem;
border-radius: 50%;
background-color: #f2c6c6;
display: inline-flex;
justify-content: center;
align-items: center;
}
 .iconwrap_5{
width: 4.5rem;
height: 4.5rem;
border-radius: 50%;
background-color: #7BF0AC;
display: inline-flex;
justify-content: center;
align-items: center;
}
.sortBtn{
  padding: 1rem;
  background-color: white;
  border:1px solid #00000033;
  /* width: 20rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
}
.sortBtn:hover{
  background-color: var(--input-background);
  border-color: white;
}
.columnButton {
   background-color: white;
  border:1px solid #00000033;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0.5rem;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
  padding: 1rem;
}
.columnButton:hover{
  background-color: var(--input-background);
  border-color: white;

}
.exportContainer {
  position: relative;
  display: inline-block;
}
.dropdownMenu {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: white;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  /* border-radius: 1rem; */
  overflow: hidden;
  min-width: 140px;
}

.dropdownItem {
  font-size: 1.3rem;
  color: #065f46;
  padding: 8px 12px;
  cursor: pointer;
  /* white-space: nowrap; */
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.dropdownItem:hover{
  background-color: var(--input-background);
  border-color: white;
}
.tableContainer {
  margin-top: 2rem;
  width: 100%;
  overflow-x: auto;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.orderTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--clr-white);
  border-radius: 0.8rem;
  font-size: 1.2rem;
}

.orderTable th, .orderTable td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.orderTable th {
  background-color: var(--main-theme);
  color: white;
  font-weight: 500;

}

.orderTable tr:hover {
  background-color:var(--input-background);
}
.statusPill {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9em;
  display: inline-block;
}
.completed {
  background-color: #C3F9D5;
  color: black;
}
.paidtovendor {
  background-color: var(--main-theme);
  color: var(--clr-white);
}

.actionButton {
  background-color: var(--clr-white);
  color: black;
  border: 1px solid#605c5c;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s;
}

.actionButton:hover {
  background-color:#C3F9D5 ;
}

.paidto:hover {
  background-color: #7BF0AC;
  border-color: #33ae66;
}
.undopaid:hover {
  background-color: #f0b0c9;
  border-color: #f64589;
}
.btncontainercod{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  float: right;
}

.dateFilterContainer{
  display: flex;
  flex-direction: column;
  gap:0px;
  /* background-color: red; */
}

.dateFilterContainer .dateFilterContainerTitle{
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 8px;
  /* background-color: yellow; */
  
}

.search_filter_con {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  background-color: red;
  width: 60%;
  height: 70;
}

.columnButton {
  /* background-color:white;
  color: var(--clr-black);
   border:1px solid #00000033;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
   width: 15rem;
  padding: 0.8rem;
  transition: all 250ms ease-in-out; */
  background-color: white;
  border: 1px solid #00000033;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 8px;
  transition: background-color 250ms ease-in-out;
  cursor: pointer;
  padding: 1rem;
}
.columnButton:hover {
  background-color: var(--input-background);
  border-color: white;
}
