/* MAIN CONTAINER STYLES */
.main-container-box {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    circle at 150% 50%,
    var(--light-green-gradient),
    var(--dark-green)
  );
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.green-side {
  width: 66%;
  height: 100%;
  overflow: hidden;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 0;
}
.form {
  width: 34%;
  height: 100%;
  background-color: var(--clr-white);
}

/* GREEN SIDE STYLING WITH TEXT AND IMAGES */
.green-side .TextBox {
  width: 100%;
  height: 20%;
  margin-top: 1rem;
  margin-left: 2rem;
}
.green-side .Images {
  width: 100%;
  height: 80%;
}

.blurred-box {
  width: 91%;
  height: 64%;
  position: relative;
  top: 38%;
  border-radius: 0.3rem;
}
.blurred-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.man-box {
  width: 80%;
  height: 85%;
  z-index: 3;
  position: relative;
  top: -48.8%;
  padding: 0;
  margin: 0;
}
.man-box img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.text-on-green {
  width: 80%;
  height: 10%;
  min-width: 500px;
  min-height: 160px;
  text-align: left;
  padding: 5.5rem 3rem;
  margin-top: 3.4rem;
  display: relative;
  line-height: 1;
  display: flex;
  flex-direction: column;

  /* outline: 1px solid red; */
  z-index: 2;
  /* padding: 6rem 1rem 1rem 1rem; */
}
.text-on-green h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 6.6rem, 70px);
  font-weight: 150;
  font-style: normal;
  margin-bottom: 0%;
  padding-bottom: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  white-space: normal;
}
.to-text {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
.throttle-text {
  font-weight: 350;
}
.text-on-green h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  font-weight: 250;
  font-style: normal;
  padding: 0px;
  margin: -1.6rem 0px 0px 0px;
  display: relative;
  top: -27rem;
  line-height: 1;
  white-space: normal;
}
.text-on-green pre {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 120;
  font-style: normal;
  padding: 2.5rem 0 0 0;
  margin: 0px;
  line-height: 1;
  white-space: normal;
  /* display: relative;
  top: -27rem; */
}

/* FORM STYLING */
.white-container {
  width: 100%;
  height: 100%;
  padding: 30% 13% 30% 15%;
}
.radio-group {
  display: flex;
  gap: 1.5rem; /* Space between buttons */
  margin-top: 0.4rem;
}
.radio-option{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
}
.radio-group label {
  font-weight: bold;
}
.input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-fields input {
  display: block;
  width: 100%;
}
.button-and-sign-up {
  text-align: center;
}
.button-and-sign-up button {
  width: 100%;
}
/* line-and-text */
.line-and-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 7.6rem;
}
.line-and-text::before,
.line-and-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--primary-blue-black);
}
.line-and-text:not(:empty)::before {
  margin-right: 10px;
}
.line-and-text:not(:empty)::after {
  margin-left: 10px;
}
.line-and-text span {
  font-size: 14px;
  color: #333;
}
.input-box {
  width: 45rem;
  min-width: 43.7rem;
  max-width: 47rem;

  max-height: 5.1rem;
  min-height: 5rem;
  display: flex;
  gap: 1.3rem;
  padding: 1.1rem 2.4rem;
  border: solid 2px var(--dark-green);
  margin-bottom: 1.3rem;
  /* background-color: #17654F; */
  border-radius: 1.4rem;
  font-size: 9rem;
}
.input-box input {
  background: transparent;
  /* padding: 0.2rem; */
  border: none;
  font-size: 1.4rem;
}
.input-box input:focus {
  outline: none;
  border: none;
  background: transparent;
}
.button-and-sign-up button {
  /* padding: 1.1rem 2.4rem; */
  border: solid 2px var(--dark-green);
  margin-bottom: 1.3rem;
  height: 5rem;
  max-height: 5.1rem;
  background-color: var(--dark-green);
  border-radius: 1.4rem;
  font-size: 1.7rem;
  color: var(--clr-white);
  cursor: pointer;
}
/* .button-and-sign-up button:hover{
  background-color: var(--light-green-gradient);
  color: black;
} */
.logo-form {
  margin-bottom: 3.6rem;
}
.input-fields {
  margin-bottom: 6.6rem;
}
.sign-up span {
  margin-top: 3px;
  font-size: 1.4rem;
}
.sign-up span a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 500;
  font-size: 1.5rem;
}

/* //MEDIA QUERY */
@media screen and (max-width: 976px) {
  .text-on-green {
    width: 80%;
    height: auto;
    min-width: 100px;
    min-height: 60px;
    text-align: left;
    padding: 3rem 2rem;
    margin-top: 2px;
    position: relative;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .text-on-green h1 {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green h3 {
    font-size: 0.2rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green pre {
    display: none !important;
  }

  .to-text {
    font-family: "Sacramento", cursive;
    font-weight: 400;
  }

  .throttle-text {
    font-weight: 400;
  }
}
