/* MAIN CONTAINER STYLES */
.main-container-box {
  width: 100vw;
  height: 100vh;
  /* background: radial-gradient(
    circle at 200% 20%,
    var(--light-green-gradient),
    var(--dark-green)
  ); */
  background: var(--main-theme);
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.green-side {
  width: 66%;
  height: 100%;
  overflow: hidden;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 0;
}
.form {
  /* display: none; */
  width: 34%;
  height: 100%;
  background-color: var(--clr-white);
  box-shadow: 10p;
}

/* GREEN SIDE STYLING WITH TEXT AND IMAGES */
.green-side .TextBox {
  width: 100%;
  height: 20%;
  margin-top: 1rem;
  margin-left: 2rem;
}
.green-side .Images {
  width: 100%;
  height: 80%;
}

.blurred-box {
  width: 91%;
  height: 64%;
  position: relative;
  top: 38%;
  border-radius: 0.3rem;
}
.blurred-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.man-box {
  width: 80%;
  height: 85%;
  z-index: 3;
  position: relative;
  top: -48.8%;
  padding: 0;
  margin: 0;
}
.man-box img {
  /* display: none; */
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.text-on-green {
  width: 80%;
  height: 10%;
  min-width: 500px;
  min-height: 160px;
  text-align: left;
  padding: 5.5rem 3rem;
  margin-top: 3.4rem;
  display: relative;
  line-height: 1;
  display: flex;
  flex-direction: column;

  /* outline: 1px solid red; */
  z-index: 2;
  /* padding: 6rem 1rem 1rem 1rem; */
}
.text-on-green h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 6.6rem, 70px);
  font-weight: 150;
  font-style: normal;
  margin-bottom: 0%;
  padding-bottom: 0px;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  white-space: normal;

  /* overflow: hidden;
  border-right: 15em solid var(--background-clr);
  white-space: nowrap;
  letter-spacing: 15em;
  animation:
      typing 3.5s steps(30, end),
      blink-caret .75s step-end infinite; */
}
.to-text {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}
.throttle-text {
  font-weight: 350;
}
.text-on-green h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  font-weight: 250;
  font-style: normal;
  padding: 0px;
  margin: -1.6rem 0px 0px 0px;
  display: relative;
  top: -27rem;
  line-height: 1;
  white-space: normal;
}
.text-on-green pre {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 120;
  font-style: normal;
  padding: 2.5rem 0 0 0;
  margin: 0px;
  line-height: 1.3;
  white-space: normal;
  /* display: relative;
  top: -27rem; */
}

/* FORM STYLING */
.white-container {
  width: 100%;
  height: 100%;
  padding: 30% 13% 30% 15%;
  box-shadow: -15px 0px 120px rgb(150, 255, 195);
}
/* RADIO BUTTON STYLING */
.radio-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin: 8px;
}

.radio-button {
  margin-bottom: 10px;
  position: relative;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}

.radio-button label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.radio-button input[type="radio"]:checked + label::before {
  border-color: var(--main-theme);
  background-color: var(--main-theme);
  box-shadow: inset 0 0 0 3px #fff;
}

.radio-button input[type="radio"]:checked  label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  display: none;
}



/* RADIO BUTTON STYLING
.radio-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin: 8px;
}

.radio-button {
  margin-bottom: 10px;
  position: relative;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}

.radio-button label::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.radio-button input[type="radio"]:checked + label::before {
  border-color: var(--main-theme);
  background-color: var(--main-theme);
  box-shadow: inset 0 0 0 3px #fff;
}

.radio-button label::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  display: none;
} */

/* .radio-button input[type="radio"]:checked + label::after {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34c759;
  box-shadow: none;
  left: 6px;
  top: 8px;
  width: 8px;
  height: 8px;
} */

/* line-and-text */
.line-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  padding: 0;
}
.line-and-text {
  display: flex;
  width: 75%;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  
}
.line-and-text::before,
.line-and-text::after {
  content: "";
  
  flex: 1;
  border-bottom: 1px solid var(--primary-blue-black);
}
.line-and-text:not(:empty)::before {
  margin-right: 10px;
}
.line-and-text:not(:empty)::after {
  margin-left: 10px;
}
.line-and-text span {
  font-size: 14px;
  color: #333;
}

/* INPUT FIELDS */
.input-box {
  width: 45rem;
  min-width: 43.7rem;
  max-width: 47rem;
  background-color: var(--input-background);

  max-height: 5.1rem;
  min-height: 5rem;
  display: flex;
  gap: 1.3rem;
  padding: 1.1rem 2.4rem;
  border: solid 1px var(--main-theme);
  margin-bottom: 1.3rem;
  /* background-color: #17654F; */
  border-radius: 1.4rem;
  font-size: 9rem;
}
.input-box:hover{
  box-shadow: 2px 1px 5px var(--clr-green);
  background-color: transparent;
  color: black;
  font-style: italic;
  border: solid 0.8px var(--main-theme);
}
.input-box input {
  background: transparent;
  /* padding: 0.2rem; */
  border: none;
  font-size: 1.4rem;
}
.input-box input::placeholder {
  color: var(--main-theme)
}
.input-fields .login_email-box {
  align-items: center;
}
.input-fields .login_email-box input {
  border: none;
  margin-left: -14px;
}
.input-password-box-1{
  align-items: center;
  justify-items: center;
  justify-content: center;
}
.input-password-box-1 input{
 width: 90%;
}
.input-password-box-1 button{
  background-color: transparent;
  border: none;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.input-password-box-1 button svg{
  color: rgb(82, 82, 82);
  width: 20px;
  height: 20px;

}
.input-box input:focus {
  outline: none;
  border: none;
  background: transparent;
}
.button-and-sign-up{
  margin-top: -4px;
  display: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button-and-sign-up button {
  /* padding: 1.1rem 2.4rem; */
  width: 45rem;
  border: solid 2px var(--main-theme);
  margin-bottom: 1.3rem;
  height: 5rem;
  max-height: 5.1rem;
  background-color: var(--main-theme);
  border-radius: 1.4rem;
  font-size: 1.7rem;
  color: var(--clr-white);
  cursor: pointer;
}
.button-and-sign-up button:hover{
  /* background-color: rgba(23,101, 79, 0.8); */
  background-color: var(--dark-green);
  height: 6rem;
  font-size: 2rem;
  color: var(--clr-white);
  border: none;
  /* color: var(--background-clr); */
  /* border: solid 1px var(--clr-white); */
  box-shadow: 2px 1px 5px var(--main-theme);
  
}
.button-and-sign-up button:active{
  background-color: var(--main-theme);
  height: 6rem;
  font-size: 2rem;
  color: var(--dark-green);
  border: none;
  /* color: var(--background-clr); */
  
  
}
.logo-form {
  margin-bottom: 3.6rem;
}
.input-fields {
  margin-bottom: 6.6rem;
}
.sign-up span {
  margin-top: 3px;
  font-size: 1.4rem;
}
.sign-up span a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 500;
  font-size: 1.5rem;
}
.sign-up span a:hover {
  font-weight: 500;
  color: var(--dark-green);
  text-decoration:underline;
  cursor: pointer;
}
.remember-me{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2.1rem;
}
.remember-me p{
  color: gray;
  font-size: larger;
  cursor:pointer;
}


/* //MEDIA QUERY */
@media screen and (max-width: 976px) {
  .text-on-green {
    width: 80%;
    height: auto;
    min-width: 100px;
    min-height: 60px;
    text-align: left;
    padding: 3rem 2rem;
    margin-top: 2px;
    position: relative;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }v

  .text-on-green h1 {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green h3 {
    font-size: 0.2rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green pre {
    display: none !important;
  }

  .to-text {
    font-family: "Sacramento", cursive;
    font-weight: 400;
  }

  .throttle-text {
    font-weight: 400;
  }
}

/* ANIMATIONS */
@keyframes typing{
  from { width :0}
  t0 {width: 100%}
}
@keyframes blink-caret{
  from, to { border-color: transparent }
  50% { border-color: var(--background-clr)}
}