.register {
  font-size: 5.6rem;
  color: var(--clr-green);
  text-align: center;
}
.Register-main-container {
  width: 100vw;
  height: 100vh;
  /* background: radial-gradient(
    circle at 85% 50%,
    var(--light-green-gradient),
    var(--dark-green)
  ); */
  background: var(--main-theme);
  display: flex;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}
.green-left {
  width: 25%;
  height: 100%;
}
.white-right {
  width: 75%;
  height: 100vh;
  background-color: var(--clr-white);
  box-shadow: -10px 0px 100px  var(--logo-color);
  position: relative;
}
.register-text-left {
  width: 100%;
  height: 30%;
  color: var(--clr-white);
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 9%;
}
.register-text-left h1 {
  font-size: clamp(32px, 5.3rem, 58px);
  line-height: 4.8rem;
  font-weight: 200;
  text-align: left;
}
.register-text-left h3 {
  font-size: clamp(15px, 2.3rem, 38px);
  line-height: 2.8rem;
  font-weight: 200;
  margin-top: 1rem;
  text-align: left;
}
.blurred-image-green {
  width: 100%;
  height: 70%;
  object-fit: fill;
}
.blurred-image-green img {
  width: 96rem;
  height: 60rem;
  margin-top: 15%;
}
.registering-part-logo {
  width: 35rem;
  height: 6.5rem;
  background-color:black;
  object-fit: contain;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registering-part-logo img{
  width: 11rem;
  height: 4rem;
}

/* THE WHITE PART  */
.registring-part-form-contianer {
 padding-top: 2rem;
  width: 100rem;
  height: 62rem;
  min-width: 109.3rem;
  background-color: var(--clr-white);
  border-radius: 4px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

/* CLOSE BUTTON */
/* .close {
  position: absolute;
  right: 11rem;
  top: 15rem;
  font: 50;
  color: white;
  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.close h1 {
  font-size: 1.22em;
}  
.close:hover {
  background-color: gray;
  color: var(--clr-white);
} */

/* cancel text */
.cancel-box {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: .8rem;
  color: var(--clr-black);
}
.cancel-box h1{
  font-weight: 300;
  color: rgb(59, 59, 59);
}
.cancel-box h1 span{
  font-weight: 650;
  color: black;
  cursor: pointer;
}
.cancel-box h1 span:hover{
  text-decoration: underline;
  
}