/* MAIN CONTAINER STYLES */
.main-container-box {
  width: 100vw;
  height: 100vh;
  background: var(--main-theme);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.green-side {
  width: 66%;
  height: 100%;
  overflow: hidden;
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  gap: 0;
}

.form {
  width: 34%;
  height: 100%;
  background-color: var(--clr-white);
  box-shadow: -10px 0px 100px var(--logo-color);
  position: relative;
}

/* GREEN SIDE STYLING WITH TEXT AND IMAGES */
.green-side .TextBox {
  width: 100%;
  height: 20%;
  margin-top: 1rem;
  margin-left: 2rem;
}

.green-side .Images {
  width: 100%;
  height: 80%;
}

.blurred-box {
  width: 91%;
  height: 64%;
  position: relative;
  top: 38%;
  border-radius: 0.3rem;
}

.blurred-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.man-box {
  width: 80%;
  height: 85%;
  z-index: 3;
  position: relative;
  top: -48.8%;
  padding: 0;
  margin: 0;
}

.man-box img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.text-on-green {
  width: 80%;
  height: 10%;
  min-width: 500px;
  min-height: 160px;
  text-align: left;
  padding: 5.5rem 3rem;
  margin-top: 3.4rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.text-on-green h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(20px, 6.6rem, 70px);
  font-weight: 150;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  line-height: 1;
  white-space: normal;
}

.to-text {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.throttle-text {
  font-weight: 350;
}

.text-on-green h3 {
  font-family: "Poppins", sans-serif;
  font-size: 3.3rem;
  font-weight: 250;
  font-style: normal;
  padding: 0px;
  margin: -1.6rem 0px 0px 0px;
  position: relative;
  top: -27rem;
  line-height: 1;
  white-space: normal;
}

.text-on-green pre {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 120;
  font-style: normal;
  padding: 2.5rem 0 0 0;
  margin: 0px;
  line-height: 1.3;
  white-space: normal;
}

.registering-part-logo {
  width: 35rem;
  height: 6.5rem;
  background-color: black;
  object-fit: contain;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registering-part-logo img {
  width: 11rem;
  height: 4rem;
}

/* FORM STYLING */
.white-container {
  width: 100%;
  height: 100%;
  padding: 0% 10% 0% 10%;
  box-shadow: -15px 0px 120px rgb(150, 255, 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.login-input-con-st {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* RADIO BUTTON STYLING */
.radio-button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.login-radio-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

.login-radio-button input[type="radio"] {
  display: inline;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.login-radio-button input[type="radio"]::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
}

.login-radio-button input[type="radio"]:checked::after {
  background-color: #17654F !important;
  outline: 1px solid #17654F;
  border: 1px solid white;
}

.login-radio-button input[type="radio"]:checked + label {
  background-color: white !important;
}

.login-radio-button label {
  cursor: pointer;
  position: relative;
  font-size: 1.6rem;
  font-weight: 500;
}

/* line-and-text */
.line-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.line-and-text {
  display: flex;
  width: 80%;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.line-and-text::before,
.line-and-text::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid #F0EDFF;
}

.line-and-text:not(:empty)::before {
  margin-right: 10px;
}

.line-and-text:not(:empty)::after {
  margin-left: 10px;
}

.line-and-text span {
  font-size: 14px;
  color: #333;
}

/* INPUT FIELDS */
.login-input-box {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #CCE1DB;
  height: 4.8rem;
  gap: 1.3rem;
  padding: 0px 1rem;
  border: solid 1px #17654F;
  margin-bottom: 1.3rem;
  border-radius: 1.4rem;
  font-size: 9rem;
  transition: background 250ms ease-in-out;
}

.login-input-box input {
  background: transparent;
  width: 98%;
  height: 100%;
  border: none;
  font-size: 1.4rem;
}

.login-input-box:hover {
  background-color: #B2CFC7;
  color: black;
  font-style: italic;
  border: solid 0.8px var(--main-theme);
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.login-password {
  background-color: #CCE1DB !important;
  height: 4.8rem;
  border-radius: 1.4rem;
}

.login-password:hover {
  border-color: #17654F !important;
  border: 1px solid #17654F;
}

.login-password .ant-input {
  border: none;
  outline: none;
  margin: 0px;
  background-color: #CCE1DB !important;
}

.login-input-box input:focus {
  outline: none;
  border: none;
  background: transparent;
}

.button-and-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.button-and-sign-up button {
  width: 100%;
  border: solid 1px var(--main-theme);
  margin-bottom: 1rem;
  height: 5rem;
  max-height: 5.1rem;
  background-color: var(--main-theme);
  border-radius: 1.6rem;
  font-size: 1.7rem;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease-in-out;
}

.button-and-sign-up button:hover,
.button-and-sign-up button:active {
  background-color: var(--dark-green);
  color: var(--clr-white);
  border: none;
}

.button-and-sign-up button:active {
  font-size: 1.5rem;
}

.logo-form {
  background-color: black;
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-form img {
  width: 15rem;
}

.sign-up span {
  margin-top: 3px;
  font-size: 1.4rem;
}

.sign-up span a {
  text-decoration: none;
  color: var(--dark-green);
  font-weight: 500;
  font-size: 1.5rem;
}

.sign-up span a:hover {
  font-weight: 700;
  color: var(--dark-green);
  text-decoration: underline;
  cursor: pointer;
}

.remember-me {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 0.5rem;
}

.remember-me p {
  color: gray;
  font-size: larger;
  cursor: pointer;
}

/* password style */
.login-password.ant-input-affix-wrapper {
  background-color: #CCE1DB !important;
  border-color: #17654F !important;
}

.login-password.ant-input-affix-wrapper:hover {
  background-color: #B2CFC7 !important;
  border-color: #17654F !important;
}

.login-password.ant-input-affix-wrapper:focus-within {
  background-color: #B2CFC7 !important;
  border-color: #17654F !important;
}

.login-password .ant-input {
  background-color: transparent !important;
}

.login-password .ant-input-password-icon {
  color: #6B6B6B !important;
}

/* ANIMATIONS */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--background-clr); }
}

/* CLOSE BUTTON */
/* .close {
  position: absolute;
  right: 11rem;
  top: 15rem;
  font: 50;
  color: white;
  width: 3rem;
  height: 3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.close h1 {
  font-size: 1.22em;
}  
.close:hover {
  background-color: gray;
  color: var(--clr-white);
} */

/* cancel text */
.cancel-box {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  color: var(--clr-black);
}

.cancel-box h1 {
  font-weight: 300;
  color: rgb(59, 59, 59);
}

.cancel-box h1 span {
  font-weight: 650;
  color: black;
  cursor: pointer;
}

.cancel-box h1 span:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (max-width: 976px) {
  .text-on-green {
    width: 80%;
    height: auto;
    min-width: 100px;
    min-height: 60px;
    text-align: left;
    padding: 3rem 2rem;
    margin-top: 2px;
    position: relative;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    z-index: 2;
  }

  .text-on-green h1 {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green h3 {
    font-size: 0.2rem !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
    top: 0 !important;
    line-height: 1.2 !important;
  }

  .text-on-green pre {
    display: none !important;
  }

  .to-text {
    font-family: "Sacramento", cursive;
    font-weight: 400;
  }

  .throttle-text {
    font-weight: 400;
  }
}

/* MOBILE PHONE STYLING */
@media screen and (max-width: 480px) {
  .green-side {
    display: none;
  }
  
  .form {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }
  
  .registering-part-logo {
    width: 11rem;
    height: 5rem;
    margin: 2rem auto;
  }
  
  .registering-part-logo img {
    width: 8rem;
    height: 3rem;
  }
  
  .white-container {
    padding: 0% 5% 0% 5%;
    box-shadow: none;
  }
  
  /* cancel text */
  .cancel-box {
    bottom: 1.2rem;
    font-size: 0.4rem;
  }
}