.card {
  display: flex; 
  align-items: center;
  padding: 1rem;
  width: 20rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-2px);
}

.iconWrapper {
  border-radius: 15%;
  border: 0.2px solid black;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.icon {
  font-size: 2rem;
  color: black;
}

.info {
  display: flex;
  flex-direction: row;
}
.infotext{
  display: flex;
  flex-direction: column;
}

.infochange{
  margin-bottom: 0;
  margin-top: 3rem;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  color:black;
}

.value {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1e293b;
}

.change {
  font-size: 1rem;
  color: #10b981;
 font-weight: bold;

}
