.card {
  width: 29rem;
  height: 9rem;
  padding: 1rem;
  border-radius: 0.75rem;

transition: all 250ms ease-in-out;
}
.card_con_b {
  display: grid;
  align-items: flex-end;


  grid-template-columns: 1.4fr 1fr;
  /* padding: 0.1rem 1.2rem; */

  /* height: 7.2rem; */
  /* box-shadow: 0 4px 6px rgba(19, 19, 19, 0.1); */
  transition: transform 6s ease;

  /* position: relative; */
}

.card:hover{
  box-shadow: 3px 9px 41px -21px var(--hover-color);
-webkit-box-shadow: 3px 9px 41px -21px var(--hover-color);
-moz-box-shadow: 3px 9px 41px -21px var(--hover-color);
}
/* .card:hover {
  box-shadow: 30px 9px 28px -12px var(--hover-color);
} */
.card:hover {
  transform: translateY(-2px);
}

.iconWrapper {
  border-radius:5px;
  border: 0.2px solid black;
  padding: 0.3rem;
  display: flex;

  /* margin-right: 0.7rem; */
}

.icon {
  width: 3.8rem;
  /* font-size: 1em;
  color: black; */
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  /* position: absolute; */
  /* top: 5px; */
  /* left: 50px; */
/* background-color: gainsboro; */
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
  
}

.value {
  /* background-color: aqua; */
  font-size: 2.4rem;
  font-weight: 500;
  /* font-size: 2em;
  font-weight: bolder;
  color: #1e293b; */

  font-size: 2.4rem;
  /* font-style: normal; */
  /* font-weight: 600; */
  /* line-height: normal; */
  color: black;
}

.change {
  font-size: 1rem;
  font-weight: 500;

}

.infotext {
  display: flex;
  /* align-items: center; */
  flex-direction: column;

  /* background-color: red; */
  width: 100%;
  height: 100%;

}

.infochange {
  /* background-color: yellow; */
  display: flex;
  align-items: flex-end;

  /* height: 100%; */
}
