


.text-input-container2 {
  display: flex;
  border-radius: 1.4rem ;
  border: 0rem solid #17654F ;
  height: 5rem;
  width: 40.2rem ;
  /* padding: 1.4rem !important; */
  background-color: #CCE1DB ;
  stroke-width: 0.1rem ;
  margin-top: 0.5rem ;
  transition-duration: 250ms ;
  transition-timing-function: ease-in-out ;

  position: relative;

} 

.pass-text-input{
  border-radius: 1.4rem ;
  border: 0.1rem solid #17654F ;
  height: 5rem ;
  width: 40.2rem ;
  padding: 1.4rem ;
  background-color: transparent;
  stroke-width: 0.1rem ;
  outline: none;
 
  transition-duration: 250ms ;
  transition-timing-function: ease-in-out ;
  padding-right: 3.5rem;
}

.toggle-btn2{
position:absolute;
 right: 1rem;
 top:34%;
 width: 2rem;
 background-color: transparent;
    border:none;
}



.toggle-btn2 .icon{
    font-size: 1.5rem;
}



.pass-text-input:hover, .pass-text-input:active{
    background-color: #B2CFC7 !important;
    border-color: #17654F !important;
}


.pass-text-input:focus{
    background-color: #E8F7F3 !important;
    border-color: #17654F !important;
}

.label-text-style{
    font-weight: 400;
    font-size: 1.6rem;
    color:black;
}