.Link {
  width: 100%;
  height: 6rem;
  max-height: 6rem;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 1.6rem 2rem;
  /* background-color: aqua; */
  overflow: hidden;
  margin: 0px;
  /* border-top: 0.1rem solid var(--clr-white);
  border-bottom: 0.2rem solid var(--clr-white); */
}
.Link:hover {
  background-color: rgba(0,0,0, 0.2);
  border-top: 0.1px solid var(--clr-white);
  border-bottom: 0.1px solid var(--clr-white);
}
.Link a {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4rem;
}
a {
  text-decoration: none;
  color: var(--clr-white);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4rem;
}
.Link img {
  width: 17px;
  height: 17px;
  margin-right:5px;
  flex-shrink: 0;
}

/* ACTIVE LINK */
.Link-active {
  width: 100%;
  max-height: 6rem;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 1.6rem 2rem;
  background-color: black;
  overflow: hidden;
  border-top: 0.1rem solid var(--clr-white);
  border-bottom: 0.1rem solid var(--clr-white);
}
.Link-active img {
  width: 19.854px;
  height: 19.854px;
  flex-shrink: 0;
}
.active-logo {
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-theme);
  padding: 1.5rem;
  margin-left: -1.2rem;
}
.spacer {
  flex-grow: 1;
}

/* **** */
.children-container {

  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0, 0.2);
  
}

.child-link {
  display: flex;
  width:100%;
  
  align-items: center;
  padding: 2.3rem 0;
  padding-left: 3rem;
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  height: 4.1rem;
  border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.child-link:hover{
  background-color: #17654F;
  border-top: 0.1px solid var(--clr-white);
  border-bottom: 0.1px solid var(--clr-white);
}

.child-link.active {
  font-weight: 400;
  background-color: #003627;
  border-top: 0.1px solid var(--clr-white);
  border-bottom: 0.1px solid var(--clr-white);
}
.chevron-button {
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevron-button:hover,
.chevron-button:focus {
  background-color: rgba(255, 255, 255, 0.1); /* light gray effect */
  cursor: pointer;
}

.down-icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.down-icon.rotate {
  transform: rotate(180deg);
}






