.new-delivery {
    background-color: white;
    padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
    width: 55%;
    display: flex;
     border-radius: 0.8rem;
    text-align: center;
   
   
  }
  
  