@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap");

html {
  /* font-size: 62.5%; */
  /* font-size: 56.25%; */
  font-size: 53.25%;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  /* transition: 300ms all ease-out; */
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-red: #d11515;
  --clr-green: #43a047;
  --light-green-gradient: #cbffcd;
  --background-clr: #f4f9ff;
  --primary-turquoise: #006984;
  --primary-blue-black: #06264d;
  --input-background: #CCE1DB;
  --dark-green: #003627;
  --colorash: #cdd4db;
  --logo-color: #0ea47a;
  --darker-gray: #6b6b6b;
  --main-theme: #17654f;
  --main-theme-gray: #eaebee;
}
