/* ----------------------------------------------------List of roles------------------------------------------------- */

.roles-title {
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--main-theme);
}

.headers{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap:2rem;
  /* border-bottom: 0.1rem solid #00000033; */
  /* padding-bottom: 2rem; */
  margin-bottom: 2rem;
}

.headers .top {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.headers .searchBox{
  display: flex;
  width:65rem;
}

.loading-spinner .ant-spin-dot-item {
  background-color: #218b6d;
}

.btn-new-role {
  /* width: 13.8rem; */
  /* height: 4.2rem; */
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 400;

  cursor: pointer;
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  border-radius: 0.8rem;
  background-color: #17654f;
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid var(--main-theme);
  font-size: 1.6rem;
}

.btn-new-role:hover {
  background-color: #03563f;
}

.tb-head-checkbox {
  border-color: #ffffff;
}

.table-container-st {
  background-color: #ffffff;
  padding: 2rem 2rem;
  text-align: start;
  border-radius: 0.8rem;

  /* max-width: 1511px; */

  /* overflow-x: 'auto'; */
}

.account input[type="checkbox"] {
  border: 0.1rem solid #fff;
}

.check-on-wt-bg {
  background-color: transparent;

  border: 0.1rem solid #17654f !important;
  width: 13.98px;
  height: 15.09px;
  border-radius: 4px;
}

.tb-row:hover {
  background-color: oklch(98.5% 0.002 247.839);

  /* cursor: pointer; */
}

.tb-row .btn-container {
  display: flex;
  gap: 0.5rem;
}

.tb-row button,
.num-staff-col {
  padding: 0.7rem 3rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #cdd4db;
  background-color: transparent;
  cursor: pointer;
  color: #003627;
  text-align: center;
  transition-duration: 250ms;
  transition-property: background-color, color, border;
  transition-timing-function: ease-in-out;
}

.tb-row .star {
  color: rgb(156, 2, 2);
}

.tb-row button:hover,
.num-staff-col:hover {
  background-color: #d6e3e0;
}

.pagination-tab {
  margin: 1.5rem 0.1rem;
}

.num-staff-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------Create new Role-------------------------------------------------------------- */
.account h2 {
  color: #000000;
  font-weight: 700;
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 100%;
}

.account h3 {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 100%;
  border-bottom: 0.1rem solid rgba(112, 128, 144, 0.5);
  padding: 1rem 0rem;
}

.role-form {
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 3.3rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.role-form .form-section {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.account label {
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #000000;
}

.required-field {
  color: red;
}

.text-input {
  border-radius: 1.4rem;
  border-width: 0.1rem;
  border-color: #17654f;
  height: 5rem;
  width: 48.6rem;
  padding: 1.4rem;
  background-color: #cce1db;
  stroke-width: 0.1rem;
  margin-top: 0.5rem;
  /* color:var(--main-theme) */
}

.text-input:focus {
  border: 0.2rem solid var(--main-theme);
  outline: none;
}

.account ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* margin-top:  1.5rem; */
}

.account li {
  display: flex;
  gap: 0.4rem;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
  /* border:1px solid green;  */
}

.list-label {
  line-height: 1.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0;

  /* border:1px solid red; */
}

.role-form input[type="checkbox"] {
  width: 1.7rem;
  height: 1.5rem;
  border: 1px solid gray;
}

.buttons {
  display: flex;
  gap: 1.2rem;
  justify-content: end;
}

.role-form button {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.buttons button {
  /* width: 13.8rem; */
  height: 4.2rem;
  padding: 1.2rem 1.8rem;
  text-align: center;
  cursor: pointer;

  border-radius: 0.8rem;
}

.buttons .btn-cancel {
  background-color: white;
  border: 0.1rem solid var(--main-theme);
  color: var(--main-theme);
}

.buttons .btn-cancel:hover,
.buttons .btn-cancel:active {
  background-color: #d6e3e0;
}

.buttons .btn-create {
  background-color: var(--main-theme);
  color: #ffffff;
  border-color: #ffffff;
  border: 1px solid #17654f;
}

.buttons .btn-create:hover,
.buttons .btn-create:active {
  background-color: #03563f;
  border: 0.1rem solid var(--main-theme);
}

/* ------------------------------------------Delete role-------------------------------------------------------------- */

.delete-model-container {
  background-color: #fff;
  border-radius: 2.4rem;
  z-index: 100;
  position: absolute;
  top: 20%;
  left: 35%;
  filter: drop-shadow(1px 1px 5px black);
  padding: 1rem;
  width: 70.4rem;
  height: 40.2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 3.5rem;
}

.delete-model-container img {
  width: 9.6rem;
  height: 8.5rem;
}

.modal-title {
  font-weight: 700;
  font-size: 3.2rem;
}

.modal-sub-title {
  font-weight: 500;
  font-size: 1.5rem;
}

.danger-info {
  color: #d11515;
  font-weight: 500;
  font-size: 1.5rem;
  font-style: italic;
}

.model-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.model-btn button {
  padding: 0.8rem 1.8rem;
  width: 20.5rem;
  border-radius: 0.8rem;
  height: 4.2rem;
  outline: none;
  border: 0.1rem solid #17654f;
  cursor: pointer;
  color: #003627;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: transparent;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.model-btn .btn-create {
  background-color: #17654f;
  color: white;
}

.model-btn .btn-create:hover {
  background-color: #03563f;
}

.model-btn .btn-cancel:hover {
  background-color: #d6e3e0;
  color: #003627;
}

/* -------------------------------------display staffs modal------------------------ */
.displayStaffModalContainer {
  background-color: #fff;
  border-radius: 1.4rem;
  z-index: 100;
  position: absolute;
  top: 20%;
  left: 50%;
  filter: drop-shadow(1px 1px 5px black);
  /* padding: 1rem 0rem; */
  width: 30.4rem;
  height: 50.2rem;
  overflow-x: auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;

}
.displayStaffModalContainer ul{

  width: 100%;

}
.displayStaffModalContainer li{
  /* background-color: red; */
  padding:1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.4rem;
  text-transform: capitalize;
  /* margin:0.5rem 0rem; */
  width: 100%;
  border-bottom: 1px solid rgb(185, 185, 185);
}
.displayStaffModalContainer .close-btn{
  background-color: transparent;
  outline: none;
  border: none;
  align-self:flex-end;
  margin:1rem;
  cursor: pointer;
}
/* ------------------------------------------Tablet devices-------------------------------------------------------------- */

@media (max-width: 76.8rem) {
  .staffs .roles {
    font-size: 56.25%;
  }
  .account ul {
    grid-template-columns: 1fr 1fr;
    column-gap: 0.8rem;
    row-gap: 1.5rem;
  }

  .account .text-input {
    border-radius: 1rem;

    height: 4rem;
    width: 38.6rem;
    padding: 1.4rem;
  }

  .buttons button {
    width: 12.8rem;
    height: 3.2rem;

    padding: 0rem;
  }

  .btn-new-role {
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
  }
}

/* ------------------------------------------mobile devices-------------------------------------------------------------- */

@media (max-width: 42.7rem) {
  .staffs {
    font-size: 36.25%;
    padding: 0px;
  }

  .account form {
    width: 100%;
    padding: 1.3rem;
  }

  .account .text-input-st {
    height: 3.4rem;
    max-width: 27.6rem;
    padding: 1.4rem;
  }

  .account ul {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .buttons {
    justify-content: center;
  }
}
